Django>=4.2.0,<5.0
djangorestframework>=3.14.0
django-cors-headers>=4.3.0
psycopg2-binary>=2.9.9
dj-database-url>=2.1.0
whitenoise>=6.6.0
gunicorn>=22.0.0
python-decouple>=3.8
requests>=2.31.0
pillow>=10.0.0
pydantic>=2.7.0
google-genai>=0.3.0
google-auth>=2.29.0
razorpay>=1.4.1
qrcode>=7.4.2
annotated-types>=0.7.0
asgiref>=3.7.0
sqlparse>=0.5.0
databased

databasedd
d
databaseddd
databaseddd
databaseddd
